<div id="bottom-wizard" *ngIf="currentindex != questionlength">
  <button *ngIf="currentindex > 0"
          (click)="moveToPrev()"
          type="button" name="backward" class="backward">
    Back
  </button>
  <button (click)="submitQuiz()"
          *ngIf="currentindex  == (questionlength-1)"
          type="submit" name="process" class="submit">
    Submit
  </button>
  <button (click)="moveToNext()"
          *ngIf="currentindex  < (questionlength -1)"
          type="button" name="forward" class="forward">
    Next
  </button>
</div>
